#success_message{ display: none;}

.container2{
  width: 40%;
  margin: auto;
}

.blu{
  background-color: #183c79;
  box-shadow: 5px 10px;
}

.body1{
  background-color: #304e81;
}

.bodywhite{
  color:white;
}

.up{
  text-transform: uppercase;
  font-size: 20px;
}
.up_l{
  text-transform: uppercase;
  font-size: 30px;
}

.cards{
  text-transform: uppercase;
  font-size: 30px;
}

.gen{
  text-transform: uppercase;
  font-size: 20px;
}



.aligning{
  display: flex;
  align-items: center;
  justify-content: center;
}

.con{
  width: 100%;
  height: 100vh;
}

.dice{
  height: 12%;
  width: 12%;
  /* border-radius: 50%; */
}

.btns{
  color:white;
  /* text-decoration: underline; */
  background-color: #383838;
  /* border-radius: 5px; */
  font-size: 24px;
  border-color: #383838;
  /* box-shadow: none; */
}

.container3{
  width: 90%;
  margin: auto;
}

.winner{
  text-transform: uppercase;
  font-size: 50px;
}