#success_message{ display: none;}

.container2{
  width: 90%;
  margin: auto;
}

.footer1{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  font-size: 8;
}

.blu{
  background-color: #183c79;
  box-shadow: 5px 10px;
}

.body1{
  background-color: #304e81;
}

.bodywhite{
  color:white;
}

.up{
  text-transform: uppercase;
  font-size: 20px;
}
.up2{
  text-transform: uppercase;
}
.up_l{
  text-transform: uppercase;
  font-size: 25px;
}

.cards{
  text-transform: uppercase;
  font-size: 25px;
}

.gen{
  text-transform: uppercase;
  font-size: 20px;
}

.aligning{
  display: flex;
  align-items: center;
  justify-content: center;
}

.con{
  width: 100%;
  height: 100vh;
}

.dice{
  height: 20%;
  width: 20%;
  /* border-radius: 50%; */
}

.btns{
  color:white;
  /* text-decoration: underline; */
  background-color: #383838;
  /* border-radius: 5px; */
  font-size: 25px;
  border-color: #383838;
  /* box-shadow: none; */
}

.container3{
  width: 90%;
  margin: auto;
}

.winner{
  text-transform: uppercase;
  font-size: 50px;
}

.canbtn{
  /* display: block; */
  background: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.canbtn:hover{
  text-decoration: none;
}
