{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Pictionary</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script>
    $(document).ready(function(){

      $("#addbutton").click(function(){
        $("#colors").slideToggle('slow');
        $("#inputs").slideToggle('slow');
        $("#play").slideToggle('slow');
      });

    });

    function showplayer(cb,x){
      player = '#player' + x;
      player_name = "p_name" + x
      console.log(player_name);
      if (cb.checked){
        $(player).slideDown(1000);
      }
      else{
        $(player).slideUp(1000);
        console.log(document.getElementById(player_name).value);
        document.getElementById(player_name).value = "";
        }
    }

    </script>
  </head>
  <body class="bg">

      <div class="container d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 15px)">

          <div class="row fade-in-up">
            <center>
            <div class="col-12">
            <span class="welcome">Welcome to</span><br>
            <span class="welcome text-uppercase">P i c t i o n a r y !</span>
            </div>

            <div class="col-12 mb-3">
              <button class="canvas-btn pt-3 pb-2" onclick="window.location.href = '/pictionary/canvas';">OPEN &nbsp; CANVAS</button>
            </div>

            <div class="col-12 mb-3">
            <button class="add-btn pt-3 pb-2" id="addbutton"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; ADD &nbsp; PLAYERS</button>
            </div>

            <div class="col-12 mb-3" id="colors" style="display:none">
              <!-- <div> -->

                <div class="d-flex justify-content-around" style="width:90vw;">

                  <div class="ch-wrap">
                    <input type="checkbox" name="" value="" id="check1" onclick="showplayer(this,1)" hidden/>
                    <label for="check1" class="mark bg-red"></label>
                  </div>
                  <div class="ch-wrap">
                    <input type="checkbox" name="" value="" id="check2" onclick="showplayer(this,2)" hidden/>
                    <label for="check2" class="mark bg-blue"></label>
                  </div>
                  <div class="ch-wrap">
                    <input type="checkbox" name="" value="" id="check3" onclick="showplayer(this,3)" hidden/>
                    <label for="check3" class="mark bg-green"></label>
                  </div>
                  <div class="ch-wrap">
                    <input type="checkbox" name="" value="" id="check4" onclick="showplayer(this,4)" hidden/>
                    <label for="check4" class="mark bg-yellow"></label>
                  </div>
                  <div class="ch-wrap">
                    <input type="checkbox" name="" value="" id="check5" onclick="showplayer(this,5)" hidden/>
                    <label for="check5" class="mark bg-orange"></label>
                  </div>
                  <div class="ch-wrap">
                    <input type="checkbox" name="" value="" id="check6" onclick="showplayer(this,6)" hidden/>
                    <label for="check6" class="mark bg-pink"></label>
                  </div>

                </div>
              <!-- </div> -->
            </div>




            <div class="col-12 d-flex justify-content-center">

              <form action="/pictionary/" method="POST">
                {% csrf_token %}
                  <div class="box" id="inputs" style="display:none">
                    <div id="player1" style="display:none">
                        <input id="p_name1" class="inputbox border-red pt-2 pb-2" type="text" style="font-family:Times" name="team1" placeholder="Team Name">
                    </div>
                    <div id="player2" style="display:none">
                        <input id="p_name2" class="inputbox border-blue pt-2 pb-2" type="text" style="font-family:Times" name="team2" placeholder="Team Name">
                    </div>
                    <div id="player3" style="display:none">
                        <input id="p_name3" class="inputbox border-green pt-2 pb-2" type="text" style="font-family:Times" name="team3" placeholder="Team Name">
                    </div>
                    <div id="player4" style="display:none">
                        <input id="p_name4" class="inputbox border-yellow pt-2 pb-2" type="text" style="font-family:Times" name="team4" placeholder="Team Name">
                    </div>
                    <div id="player5" style="display:none">
                        <input id="p_name5" class="inputbox border-orange pt-2 pb-2" type="text" style="font-family:Times" name="team5" placeholder="Team Name">
                    </div>
                    <div id="player6" style="display:none">
                        <input id="p_name6" class="inputbox border-pink pt-3 pb-2"  type="text" style="font-family:Times" name="team6" placeholder="Team Name">
                    </div>
                      </div>

                      <div id="play" style="display:none">
                        <button class="add-btn pt-3 pb-2"  type="submit">PLAY &nbsp; PICTIONARY</button>
                      </div>



              </form>

            </div>
            
            <div class="col-12">
            <a href="/pictionary/rules" class="text-uppercase text-white" style="font-size:2vh;"> HOW to Play</a>
            </div>




          </center>

        </div>

      </div>
      
      <div class="d-flex justify-content-end bg">
        <span style="font-size:10px" class="text-white mr-3">Developed By Nitish Talekar & Sarvesh Wanode</span>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  </body>
</html>
