{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Classifier</title>

    <link rel="stylesheet" href="{% static 'classify.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <script>

     $(document).ready(function() {

       $("#main1").fadeIn(800, function(){
         $("#main").slideDown(1000,function(){
           $(".start-slide").each(function(){
             $(this).slideDown("slow",function(){
               // var id = "#count_"+$(this).attr("id");
               // countUp(id);
               $(".counter").each(function(){
                 countUp(this);
               })
             });
           });
         });
       });

        $("#opt").click(function(){
          $("#ebox").attr("style","background:#014143;--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
          $("#abox").attr("style","background:#014143;--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
          $("#cbox").attr("style","background:#3f4569;--notchSize:60px;--bcolor:#3f4569;width:90%;height:25vh;");
          $("#sbox").attr("style","background:#3f4569;--notchSize:30px;--bcolor:#3f4569;width:90%;");
          $(this).animate({opacity: 1}, 500, function(){
            $("#ebox").attr("style","--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
            $("#abox").attr("style","--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
            $("#cbox").attr("style","--notchSize:60px;--bcolor:#3f4569;width:90%;height:25vh;");
            $("#sbox").attr("style","--notchSize:30px;--bcolor:#3f4569;width:90%;");
          });

        });



     });

     function countUp(id){
       var $this = $(id),
           countTo = $this.attr('data-count');

       $({ countNum: $this.text()}).animate({
         countNum: countTo
       },
       {
         duration: 1200,
         easing:'linear',
         step: function() {
           $this.text(Math.floor(this.countNum));
         },
         complete: function() {
           $this.text(this.countNum);
         }
       });
     }



</script>

  </head>
  <body class="dark">

    <div class="d-flex justify-content-center align-items-center screen-size">
      <div class="container-fluid mt-4 mb-4" style="width:80vw;">
        <div class="row">
          <div class="col-12">
            <div class="card dark-card module border-color" id="main1" style="--notchSize: 80px;--bcolor:#008e8c;display:none;">
                <div class="mt-4 mb-4">
                  <center>
                  <h1 class="text-white text-uppercase ">{{file}}</h1>
                </center>
                </div>
                <form action="/classifier/select/?file={{file_name}}" method="POST" target="_blank">
                  {% csrf_token %}
                <div id="main" style="display:none">
                  <center>

                <div class="container-fluid mt-4 mb-1">
                  <div class="row">
                    <div class="col-6">
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px">Total Records</span>
                              </div>
                            </div>
                            <div class="row start-slide mt-2" id="1" style="display:none;">
                              <div class="col-12 text-white">
                                <center><span class="counter" id="count_1" data-count="{{info.0}}" style="font-size:60px;">0</span></center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px">Number of Attributes</span>
                              </div>
                            </div>
                            <div class="row start-slide mt-2" id="2" style="display:none;">
                              <div class="col-12 text-white">
                                <center><span class="counter" id="count_2" data-count="{{info.1}}" style="font-size:60px;">0</span></center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px">Selected Attributes</span>
                              </div>
                            </div>
                            <div class="row start-slide mt-2" id="3" style="display:none;">
                              <div class="col-12 text-white">
                                <center><span class="counter" id="count_3" data-count="{{info.4}}" style="font-size:60px;">0</span></center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px">Labeled Class</span>
                              </div>
                            </div>
                            <div class="row start-slide mt-2" id="4" style="display:none;">
                              <div class="col-6 text-white">
                                <center> <span>{{end}}</span> </center>
                              </div>
                              <div class="col-6 text-white">
                                <center><span class="counter" id="count_4" data-count="100" style="font-size:60px;">0</span></center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                      <div class="col-3">
                        <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                            <div class="container">
                              <div class="row">
                                <div class="col-12">
                                  <span class="text-white text-uppercase" style="letter-spacing:2px">Training Records</span>
                                </div>
                              </div>
                              <div class="row start-slide mt-2" id="61" style="display:none;">
                                <div class="col-12 text-white">
                                  <center><span class="counter" id="count_61" data-count="{{info.2}}" style="font-size:60px;">0</span></center>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                            <div class="container">
                              <div class="row">
                                <div class="col-12">
                                  <span class="text-white text-uppercase" style="letter-spacing:2px">Train Test Split Percentage</span>
                                </div>
                              </div>
                              <div class="row start-slide mt-2" id="51" style="display:none;">
                                <div class="col-5 text-white">
                                  <center><span class="counter" id="count_51" data-count="{{train}}" style="font-size:60px;">0</span></center>
                                </div>
                                <div class="col-2 text-white">
                                  <center><span style="font-size:60px;">-</span></center>
                                </div>
                                <div class="col-5 text-white">
                                  <center><span class="counter" id="count_52" data-count="{{test}}" style="font-size:60px;">0</span></center>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                            <div class="container">
                              <div class="row">
                                <div class="col-12">
                                  <span class="text-white text-uppercase" style="letter-spacing:2px">Testing Records</span>
                                </div>
                              </div>
                              <div class="row start-slide mt-2" id="6" style="display:none;">
                                <div class="col-12 text-white">
                                  <center><span class="counter" id="count_6" data-count="{{info.3}}" style="font-size:60px;">0</span></center>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>


                  <div class="row mt-5">
                    <div class="col-12">
                      <!-- <div class="row mx-3 d-flex justify-content-center"> -->
                        <div class="mt-3 mb-3 pt-2 pb-2 module border-color hover-btn2" id="open_graph" style="--notchSize:15px;--bcolor:#014143;--btn:30%">
                          <span class="text-white">O P E N &nbsp;&nbsp; G R A P H S</span>
                        </div>
                      <!-- </div> -->
                    </div>
                    <div class="col-6">
                      <!-- <div class="col-4 mt-4"> -->
                        <div class="module pt-2 pb-2 border-color h-fill instruct classify-card" id="graph1g" style="--notchSize: 30px;--bcolor:#3f4569;width:80%;">
                          <div class="graph-card" style="width:100%" id="1g">
                            <center>
                              <span class="text-white text-uppercase" style="letter-spacing: 2px;">GRAPH</span><br>
                            </center>
                          </div>

                          <div class="mr-3 ml-3 text-white graphs_inside" id="graph1g_inside">
                            <div class="chart-bar mt-3 mb-3" style="width:100%" id="grapharea1g">
                              <canvas id="myPieChart"></canvas>
                            </div>
                            <button id="grapharea1g_btn" type="button" name="button" onclick="graph_chart('1g',[25,25,25,75]);" hidden></button>
                          </div>
                        </div>
                      <!-- </div> -->
                    </div>

                    <div class="col-6">
                      <!-- <div class="col-4 mt-4"> -->
                        <div class="module pt-2 pb-2 border-color h-fill instruct classify-card" id="graph2g" style="--notchSize: 30px;--bcolor:#3f4569;width:80%;">
                          <div class="graph-card" style="width:100%" id="2g">
                            <center>
                              <span class="text-white text-uppercase" style="letter-spacing: 2px;">GRAPH</span><br>
                            </center>
                          </div>

                          <div class="mr-3 ml-3 text-white graphs_inside" id="graph2g_inside">
                            <div class="chart-bar mt-3 mb-3" style="width:100%" id="grapharea2g">
                              <!-- <canvas id="myPieChart"></canvas> -->
                            </div>
                            <button id="grapharea2g_btn" type="button" name="button" onclick="graph_chart('2g',[25,25,25,75]);" hidden></button>
                          </div>
                        </div>
                      <!-- </div> -->
                    </div>

                  </div>
                </div>

                <!-- </center> -->

                <div style="width:75%">

                    <div class="d-flex justify-content-between align-items-center">

                      <div class="mt-3 mb-3 pt-2 pb-2 module border-color light-card hover-btn" id="data" style="--notchSize:15px;--bcolor:#014143;--btn:25%">
                        <center>
                          <span id="loading">D A T A &nbsp;&nbsp; S U M M A R Y</span>
                        </center>
                      </div>

                        <div class="mt-3 mb-3 pt-2 pb-2 module border-color light-card hover-btn" id="start" style="--notchSize:15px;--bcolor:#014143;--btn:25%">
                          <center>
                            <span id="loading">S T A R T</span>
                          </center>
                        </div>
                        <div style="display:none">

                        <input type="number" name="train" id="train_val" value="80" />
                        <input type="number" name="test" id="test_val" value="20" />
                        <input type="text" name="redirect" value="loading" />
                        <button type="submit" id="start-btn" name="start" value="start"></button>
                        <button type="submit" id="data-btn" name="start" value="data"></button>
                      </div>

                    </div>

              </div>

              </center>

            </div>
          </form>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'charts/Chart.min.js' %}"></script>

    <script type="text/javascript">
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ["Direct", "Referral", "Social"],
        datasets: [{
          data: [55, 30, 15],
          backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
          hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        cutoutPercentage: 80,
      },
    });

    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
