{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Classifier</title>

    <link rel="stylesheet" href="{% static 'classify.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <script>

     $(document).ready(function() {

       $("#main1").fadeIn(800, function(){
         $("#main").slideDown(1000,function(){
           
         });
       });

        $("#opt").click(function(){
          $("#ebox").attr("style","background:#014143;--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
          $("#abox").attr("style","background:#014143;--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
          $("#cbox").attr("style","background:#3f4569;--notchSize:60px;--bcolor:#3f4569;width:90%;height:25vh;");
          $("#sbox").attr("style","background:#3f4569;--notchSize:30px;--bcolor:#3f4569;width:90%;");
          $(this).animate({opacity: 1}, 500, function(){
            $("#ebox").attr("style","--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
            $("#abox").attr("style","--notchSize:50px;--bcolor:#014143;width:90%;min-height:20vh;");
            $("#cbox").attr("style","--notchSize:60px;--bcolor:#3f4569;width:90%;height:25vh;");
            $("#sbox").attr("style","--notchSize:30px;--bcolor:#3f4569;width:90%;");
          });

        });
        
        $("#open_graph").click(function(){
          var show = $("#graphshow").text();
          $("#graphshow").html("X");
          if(show == "0"){
            $(".show-graph").each(function(){
              $(this).animate({width:'90%'}, 'slow', function(){
                $(".graphs").each(function(){
                  $(this).slideDown("slow",function(){
                    var id = $(this).attr("id");
                    var canvasdiv = "#div_"+id;
                    var btn = "#btn_"+id;
                    var canvas_str = '<canvas class="graphic" id="canvas_'+id+'"></canvas>';
                    $(canvasdiv).html(canvas_str);
                    $(btn).click(); 
                    $("#graphshow").html("1");   
                  });
                });
              });
              $("#main1").animate({opacity: 1}, 200, function(){
                $("#scroll_button").click();
              });
            });
            
          }
          else if (show == "1") {
              $(".graphs").each(function() {
                $(this).slideUp("slow",function(){
                  $(".graphic").each(function(){
                    $(this).remove();
                  });
                  $(".show-graph").each(function(){
                    $(this).animate({width:'70%'}, 'slow');
                    $("#graphshow").html("0");
                  });
                });
              });
            
          }
        });
        
        $("#open_summary").click(function(){
          var show = $("#summaryshow").text();
          if(show == "0"){
            $(".start-slide").each(function(){
              $(this).slideDown("slow",function(){
                $(".counter").each(function(){
                  countUp(this);
                });
              });
              $(".seperator").each(function(){
                $(this).fadeIn();
              });
            });
            $("#summaryshow").html("1");
          }
          else if(show == "1"){
            $(".start-slide").each(function(){
              $(this).slideUp("slow",function(){
                $(".counter").each(function(){
                  $(this).html("0");
                })
              });
              $(".seperator").each(function(){
                $(this).fadeOut();
              });
            });
            $("#summaryshow").html("0");
            
          }
          
          $("#main1").animate({opacity: 1}, 600, function(){
            $("#scroll_button2").click();
          });
          
          
        });
        
        $("#scroll_button").click(function() { 
          $("html, body").animate({ 
              scrollTop: $('html, body').get(0).scrollHeight 
          }, 2000);  
            });
            
        $("#scroll_button2").click(function() { 
          $("html, body").animate({ 
              scrollTop: 5 * $("#open_summary")[0].scrollHeight
          }, 800);  
            });
            
        $("#scroll_button3").click(function() { 
          $("html, body").animate({ 
              scrollTop: 12 * $("#open_graph")[0].scrollHeight
          }, 800);  
            });



     });

     function countUp(id){
       var $this = $(id),
           countTo = $this.attr('data-count');

       $({ countNum: $this.text()}).animate({
         countNum: countTo
       },
       {
         duration: 1200,
         easing:'linear',
         step: function() {
           $this.text(Math.floor(this.countNum));
         },
         complete: function() {
           $this.text(this.countNum);
         }
       });
     }



</script>

  </head>
  <body class="dark">

    <div class="d-flex justify-content-center align-items-center screen-size">
      <div class="container-fluid mt-4 mb-4" style="width:80vw;">
        <div class="row">
          <div class="col-12">
            <div class="card dark-card module border-color" id="main1" style="--notchSize: 80px;--bcolor:#008e8c;display:none;">
                <div class="mt-4 mb-3">
                  <center>
                  <h1 class="text-white text-uppercase ">{{file}}</h1>
                  <span class="text-white">K N O W &nbsp; Y O U R &nbsp; D A T A</span>
                  <span id="graphshow" style="display:none;">0</span>
                  <span id="summaryshow" style="display:none;">0</span>
                  <button type="button" id="scroll_button" name="button" hidden>SCROLL</button>
                  <button type="button" id="scroll_button2" name="button" hidden>SCROLL2</button>
                  <button type="button" id="scroll_button3" name="button" hidden>SCROLL3</button>
                </center>
                </div>
                
                <div id="main" style="display:none">

                <div class="container mt-2 mb-1">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12">
                      <div class="row mx-3 d-flex justify-content-center">
                        <div class="mt-3 mb-3 pt-2 pb-2 module border-color hover-btn2" id="open_summary" style="--notchSize:15px;--bcolor:#014143;--btn:30%">
                          <center><span class="text-white">S H O W &nbsp;&nbsp; S U M M A R Y</span></center>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around">
                    <div class="col-6">
                      <center>
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px;">Total Records</span>
                                <hr class="mt-0 seperator" style="background:white;width:60%;display:none;">
                              </div>
                            </div>
                            <div class="row start-slide mt-0" style="display:none;">
                              <!-- <hr style="background:white;width:80%"> -->
                              <div class="col-12 text-white">
                                <center><span class="counter data-show" id="count_1" data-count="{{info.0}}">0</span></center>
                              </div>
                              <div class="col-12 mt-2 text-white">
                                <center><span>R E C O R D S</span></center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </center>
                    </div>
                    <div class="col-6">
                      <center>
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:90%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px;">Number of Attributes</span>
                                <hr class="mt-0 seperator" style="background:white;width:60%;display:none;">
                              </div>
                            </div>
                            <div class="row start-slide mt-0" style="display:none;">
                              <div class="col-12 text-white">
                                <center><span class="counter data-show" id="count_2" data-count="{{info.1}}">0</span></center>
                              </div>
                              <div class="col-12 mt-2 text-white">
                                <center><span>A T T R I B U T E S</span></center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </center>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <div class="col-4">
                      <center>
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:100%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px;">Selected Attributes</span>
                                <hr class="mt-0 seperator" style="background:white;width:90%;display:none;">
                              </div>
                            </div>
                            <div class="row start-slide mt-0" style="display:none;">
                              <div class="col-12 text-white">
                                <center><span class="counter data-show" id="count_3" data-count="{{info.4}}">0</span></center>
                              </div>
                              <div class="col-12 mt-2 text-white">
                                <center><span>A T T R I B U T E S</span></center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </center>
                    </div>
                    <div class="col-6">
                      <center>
                      <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:100%;" >
                          <div class="container">
                            <div class="row">
                              <div class="col-12">
                                <span class="text-white text-uppercase" style="letter-spacing:2px;">Labeled Class</span>
                                <hr class="mt-0 seperator" style="background:white;width:60%;display:none;">
                              </div>
                            </div>
                            <div class="row start-slide mt-0" style="display:none;">
                              <div class="col-6 text-white text-uppercase">
                                <center> <span style="font-size:40px;line-height:1.5;color:#00a8a6;">{{end}}</span> </center>
                                <center> <div class="mt-2">C L A S S &nbsp;&nbsp; N A M E</div> </center>
                              </div>
                              <div class="col-6 text-white">
                                <center><span class="counter data-show" id="count_4" data-count="100">0</span></center>
                                <center> <div class="mt-2">U N I Q U E &nbsp;&nbsp; L A B E L S</div> </center>
                              </div>
                            </div>
                          </div>
                      </div>
                    </center>
                    </div>
                    </div>
                    <div class="row d-flex justify-content-around">
                      <div class="col-3">
                        <center>
                        <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:100%;" >
                            <div class="container">
                              <div class="row">
                                <div class="col-12">
                                  <span class="text-white text-uppercase" style="letter-spacing:2px">Training</span>
                                  <hr class="mt-0 seperator" style="background:white;width:60%;display:none;">
                                </div>
                              </div>
                              <div class="row start-slide mt-0" style="display:none;">
                                <div class="col-12 text-white">
                                  <center><span class="counter data-show" id="count_61" data-count="{{info.2}}">0</span></center>
                                </div>
                                <div class="col-12 mt-2 text-white">
                                  <center><span>R E C O R D S</span></center>
                                </div>
                              </div>
                            </div>
                        </div>
                      </center>
                      </div>
                      <div class="col-6">
                        <center>
                        <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:100%;" >
                            <div class="container">
                              <div class="row">
                                <div class="col-12">
                                  <span class="text-white text-uppercase" style="letter-spacing:2px">Train Test Split Percentage</span>
                                  <hr class="mt-0 seperator" style="background:white;width:70%;display:none;">
                                </div>
                              </div>
                              <div class="row start-slide mt-0" style="display:none;">
                                <div class="col-5 text-white">
                                  <center>
                                    <span class="counter data-show" id="count_51" data-count="{{train}}">0</span>
                                    <span class="data-show">%</span>
                                    <center> <div class="mt-2">T R A I N</div> </center>
                                  </center>
                                </div>
                                <div class="col-2 text-white">
                                  <center><span class="data-show text-white">-</span></center>
                                </div>
                                <div class="col-5 text-white">
                                  <center>
                                    <span class="counter data-show" id="count_52" data-count="{{test}}">0</span>
                                    <span class="data-show">%</span>
                                    <center> <div class="mt-2">T E S T</div> </center>
                                  </center>
                                </div>
                              </div>
                            </div>
                        </div>
                      </center>
                      </div>
                      <div class="col-3">
                        <center>
                        <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:100%;" >
                            <div class="container">
                              <div class="row">
                                <div class="col-12">
                                  <span class="text-white text-uppercase" style="letter-spacing:2px">Testing</span>
                                  <hr class="mt-0 seperator" style="background:white;width:60%;display:none;">
                                </div>
                              </div>
                              <div class="row start-slide mt-0" style="display:none;">
                                <div class="col-12 text-white">
                                  <center><span class="counter data-show" id="count_62" data-count="{{info.3}}">0</span></center>
                                </div>
                                <div class="col-12 mt-2 text-white">
                                  <center><span>R E C O R D S</span></center>
                                </div>
                              </div>
                            </div>
                        </div>
                      </center>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-12">
                        <div class="mt-3 mb-1 pt-2 pb-2 module border-color h-fill" style="--notchSize:30px;--bcolor:#014143;width:100%;" >
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <center><span class="text-white text-uppercase" style="letter-spacing:2px">Range of Attributes</span><center>
                                <hr class="mt-0 seperator" style="background:white;width:60%;display:none;">
                            </div>
                          </div>
                          <center>
                          <div class="row start-slide mt-3 mb-3" style="display:none;width:100%">
                            {% for i in attr %}
                            <div class="col-3 mb-3">
                              <center>
                                <span class="attr-show">{{i}}</span><br>
                                <span class="text-white text-uppercase">[ 1 - 100 ]</span>
                              </center>
                            </div>
                            {% endfor %}
                          </div>  
                        </center>  
                        </div> 
                      </div> 
                      </div>
                    </div>


                  <div class="row mt-2 mb-4">
                    <div class="col-12">
                      <div class="row mx-3 d-flex justify-content-center">
                        <div class="mt-3 mb-3 pt-2 pb-2 module border-color hover-btn2" id="open_graph" style="--notchSize:15px;--bcolor:#014143;--btn:30%">
                          <center><span class="text-white">O P E N &nbsp;&nbsp; G R A P H S</span></center>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 mt-2 mb-2">
                      <center>
                        <div class="module pt-2 pb-2 border-color h-fill instruct classify-card show-graph" style="--notchSize: 30px;--bcolor:#3f4569;width:70%;">
                          <div class="graph-card" style="width:100%">
                            <center>
                              <span class="text-white text-uppercase" style="letter-spacing: 2px;">GRAPH TITLE</span><br>
                            </center>
                          </div>

                          <div class="mr-3 ml-3 text-white graphs" id="graph_1" style="display:none;">
                            <div class="chart-bar mt-3 mb-3" style="width:100%" id="div_graph_1">
                              <!-- <canvas id="canvas_graph_1"></canvas> -->
                            </div>
                            <button id="btn_graph_1" type="button" name="button" onclick="pie_graph('graph_1',['a','b','c','d'],[25,25,25,25]);" hidden></button>
                            <div class="mt-2">
                              <center><span class="text-white"> CONETNT</span></center>
                            </div>
                          </div>
                        </div>
                      </center>
                    </div>
                    <div class="col-6 mt-2 mb-2">
                      <center>
                        <div class="module pt-2 pb-2 border-color h-fill instruct classify-card show-graph" style="--notchSize: 30px;--bcolor:#3f4569;width:70%;">
                          <div class="graph-card" style="width:100%">
                            <center>
                              <span class="text-white text-uppercase" style="letter-spacing: 2px;">GRAPH</span><br>
                            </center>
                          </div>

                          <div class="mr-3 ml-3 text-white graphs" id="graph_2" style="display:none;">
                            <div class="chart-bar mt-3 mb-3" style="width:100%" id="div_graph_2">
                              <!-- <canvas id="canvas_graph_2"></canvas> -->
                            </div>
                            <button id="btn_graph_2" type="button" name="button" onclick="pie_graph('graph_2',['a','b','c','d'],[25,25,25,25]);" hidden></button>
                          </div>
                        </div>
                      </center>
                    </div>
                    <div class="col-6 mt-2 mb-2">
                      <center>
                        <div class="module pt-2 pb-2 border-color h-fill instruct classify-card show-graph" style="--notchSize: 30px;--bcolor:#3f4569;width:70%;">
                          <div class="graph-card" style="width:100%">
                            <center>
                              <span class="text-white text-uppercase" style="letter-spacing: 2px;">GRAPHasdasd</span><br>
                            </center>
                          </div>

                          <div class="mr-3 ml-3 text-white graphs" id="graph_3" style="display:none;">
                            <div class="chart-bar mt-3 mb-3" style="width:100%" id="div_graph_3">
                              <!-- <canvas id="canvas_graph_2"></canvas> -->
                            </div>
                            <button id="btn_graph_3" type="button" name="button" onclick="pie_graph('graph_3',['a','b','c','d'],[25,25,25,25]);" hidden></button>
                          </div>
                        </div>
                      </center>
                    </div>
                  </div>
                </div>

                <!-- </center> -->
            </div>
            
              </div>
          </div>
        
        </div>
      
      </div>
    
    </div>
  

    <script src="{% static 'charts/Chart.min.js' %}"></script>

    <script type="text/javascript">
    function pie_graph(id,lbl,vals){
      var canv_id = "canvas_"+id;
      var ctx = document.getElementById(canv_id);
      var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: lbl,
          datasets: [{
            data: vals,
            backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
          }],
        },
        options: {
          maintainAspectRatio: false,
          tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 3,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
          },
          legend: {
            display: false
          },
          cutoutPercentage: 0,
        },
      });
    }
    

    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
