{% load static %}
{% load user_agents %}

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Classifier</title>

  <link rel="stylesheet" href="{% static 'classify.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="{% static 'js/index.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#yes").click(function() {
        $("#yes-btn").click();
      });
      $("#no").click(function() {
        $("#no-btn").click();
      });
    });
  </script>

</head>
{% if error == 1 %}

<body class="dark">

  <div class="d-flex justify-content-center align-items-center screen-size">
    <div class="container">
      <div class="row">

        <div class="col-12 mt-3">
          <div class="card dark-card module border-color" id="main1" style="--notchSize: 80px;--bcolor:#008e8c;display:none;">
            <div class="mt-3 mb-3">
              <center>
                <h1 class="text-white text-uppercase">Welcome to the Classifier</h1>
                <span class="text-white text-uppercase">Analyze your data, Train your classifiers & Predict Values</span><br>
                <span class="text-white text-uppercase">Simple and Easy</span>
              </center>
            </div>
            <div id="main" style="display:none">

              <form action="/classifier/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <center>
                  <div class="module pt-2 pb-2 mb-4 border-color" style="--notchSize: 20px;--bcolor:#3f4569;width:80%;">
                    <center><span class="text-danger font-weight-bold">W A R N I N G</span></center>
                    <div class="mr-3 ml-3 mt-3 mb-3 text-white">
                      This Screen indicates that either an instance of our application is already running on your browser or you have previously visited
                      our application which has left your browser session running.<br><br>
                      <span class="text-warning">If an instance is already running: </span><br>
                      <span>Select 'YES' to overwrite your existing data </span><br>
                      <span class="text-warning">O R</span> <br>
                      <span>Select 'NO' to close this tab and return to the running session.</span><br><br>
                      <hr style="background:white;width:50%;height:2px;">
                      If an instance is not running then ignore this warning and select 'YES' to visit our application.<br>
                      T H A N K &nbsp;&nbsp; Y O U <br><br>
                      <span style="font-size:4vh">DO YOU WANT TO OVERWRITE APPLICATION DATA?</span>
                    </div>
                  </div>


                  <!-- </center> -->


                  <div style="width:70%">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="mt-3 mb-5 pt-2 pb-2 module border-color light-card hover-btn2" id="no" style="--notchSize:15px;--bcolor:#014143;--btn:35%">
                        <center>
                          <span> N O </span>
                        </center>
                      </div>
                      <div class="mt-3 mb-5 pt-2 pb-2 module border-color light-card hover-btn2" id="yes" style="--notchSize:15px;--bcolor:#3f4569;--btn:35%">
                        <center>
                          <span> Y E S </span>
                        </center>
                      </div>
                      <div style="display:none">
                        <button type="submit" name="session" value="yes" id="yes-btn"></button>
                        <button type="submit" name="session" value="no" id="no-btn"></button>
                      </div>
                    </div>
                  </div>
                </center>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
{% else %}


    {% if request|is_mobile %}
    <body class="dark">

  <div class="d-flex justify-content-center align-items-center screen-size">
    <div class="container">
      <div class="row">

        <div class="col-12 mt-3">
          <div class="card dark-card module border-color" id="main1" style="--notchSize: 80px;--bcolor:#008e8c;display:none;">
            <div class="mt-5 mb-3">
              <center>
                <h1 class="text-white text-uppercase">Welcome to the Classifier</h1>
              </center>
            </div>
            <div id="main" style="display:none">

                <center>
                  <div class="module pt-2 pb-2 mb-4 border-color" style="--notchSize: 20px;--bcolor:#3f4569;width:80%;">
                    <center><span class="text-danger font-weight-bold">W A R N I N G</span></center>
                    <div class="mr-3 ml-3 mt-3 mb-3 text-white">
                      <span style="font-size:4vh">THIS WEBSITE IS ONLY DESKTOP COMPATABLE</span>
                    </div>
                  </div>
                  <!-- </center> -->


                  <div style="width:70%">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="mt-3 mb-5 pt-2 pb-2 module border-color light-card hover-btn2" style="--notchSize:15px;--bcolor:#014143;--btn:35%">
                        <center>
                            <a href = '/' style="color:white; text-decoration:none;"> <span> B A C K </span> </a>
                        </center>
                      </div>
                    </div>
                  </div>
                </center>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
    {% else %}
    <body class="dark">

  <div class="d-flex justify-content-center align-items-center screen-size">
    <div class="container">
      <div class="row">

        <div class="col-12 mt-5">
          <div class="card dark-card module border-color" id="main1" style="--notchSize: 80px;--bcolor:#008e8c;display:none;">
            <div class="mt-3 mb-3">
              <center>
                <h1 class="text-white text-uppercase">Welcome to the Classifier</h1>
                <span class="text-white text-uppercase">Analyze your data, Train your classifiers & Predict Values</span><br>
                <span class="text-white text-uppercase">Simple and Easy</span>
                <!-- <a href="" type="button" id="session-alert" name="button" onclick="return confirm('Are you sure?')">alert</a> -->
              </center>
            </div>
            <div id="main" style="display:none">

              <form action="/classifier/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <center>
                  <div class="module pt-2 pb-2 mb-4 border-color instruct-btn instruct" id="instruct" style="--notchSize: 20px;--bcolor:#3f4569;width:30%;">
                    <center><span class="text-white font-weight-bold">I N S T R U C T I O N S</span></center>
                    <div class="mr-3 ml-3 mt-3 mb-3 text-white text-uppercase" style="display:none" id="instruct_inside">
                      <span>1. Upload your CSV data file.</span><br>
                      <span>2. Select the TARGET and TRAINING atrributes.</span><br>
                      <span>3. Determine the Training - Testing Percentage.</span><br>
                      <span>4. Analyze your data to understand each attribute.</span><br>
                      <span>5. Select from a range of classifiers as per requirement.</span><br>
                      <span>6. Observe Results from Training.</span><br>
                      <span>7. Predict target value from classifiers with new input.</span><br>
                      <span>7. Download Pretrained Classifiers.</span><br>
                    </div>
                  </div>

                  <!-- <div style="width:100%">
                  <center><span class="text-uppercase" style="color:red;letter-spacing:2px">SOME ERROR HAS OCCURED . TRY AGAIN</span></center>
                </div> -->

                  <div class="mt-3 mb-1 pt-2 pb-2 module border-color" style="--notchSize:30px;--bcolor:#014143;width:90%;height:30vh;">
                    <div class="d-flex justify-content-center align-items-center" style="height:inherit">
                      <div class="demo-droppable">
                        <p class="disp">Drag files here or click to upload</p>
                        <!-- <div class="output"></div> -->
                      </div>
                    </div>
                  </div>

                </center>

                <div class="" style="width:100%;">
                  <center>
                    <div style="width:85%;" class="d-flex justify-content-start">
                      <div class="mt-4 mb-3 pt-2 pb-2 module border-color light-card hover-btn slide-toggle" id="demo" style="--notchSize:15px;--bcolor:#3f4569;--btn:30%">
                        <center>USE DEMO FILES</center>
                      </div>
                      &nbsp;&nbsp;
                      <div class="d-flex align-items-center py-0 my-0">
                        <div class="box mt-4 mb-3 pt-2 pb-1 light-card module" style="display:none;--notchSize:15px;">
                          <div class="box-inner text-white d-flex justify-content-around" style="">
                            <!-- <div class=""> -->
                            <div class="rad">
                              <label class="big-label"><input type="radio" class="big-radio" id="demo1" name="demo" value="iris"> &nbsp;&nbsp; IRIS</label>
                            </div>
                            <div class="rad">
                              <label class="big-label"><input type="radio" class="big-radio" id="demo2" name="demo" value="heart"> &nbsp;&nbsp; HEART</label>
                            </div>
                            <div class="rad">
                              <label class="big-label"><input type="radio" class="big-radio" id="demo3" name="demo" value="golf"> &nbsp;&nbsp; GOLF</label>
                            </div>

                            <!-- </div> -->
                          </div>
                        </div>
                      </div>

                    </div>
                  </center>
                </div>

                <div style="width:95%">


                  <div class="d-flex justify-content-end align-items-center">

                    <div class="mt-3 mb-5 pt-2 pb-2 module border-color light-card hover-btn" id="load" style="--notchSize:15px;--bcolor:#014143;--btn:25%">
                      <center>
                        <span id="loading"> L O A D &nbsp; F I L E </span>
                      </center>
                    </div>
                    <div style="display:none">
                      <input type="file" name="file" class="input" />
                      <button type="submit" name="button" id="load-btn"></button>
                    </div>
                  </div>


                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="{% static 'input.js' %}"></script>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
    {% endif %}

{% endif %}

</html>
