{% load static %}

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Classifier</title>

  <link rel="stylesheet" href="{% static 'classify.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="{% static 'js/predict.js' %}"></script>

</head>

<body class="dark">

  <div class="d-flex justify-content-center align-items-center screen-size">
    <div class="container-fluid" style="width:80%;">
      <div class="row">

        <div class="col-12 mt-4">
          <div class="card dark-card module border-color" id="main1" style="--notchSize: 80px;--bcolor:#008e8c;display:none;">
            <div class="mt-3 mb-3">
              <center>
                <h1 class="text-white text-uppercase">{{file}}</h1>
                <span class="text-white text-uppercase">make Predictions from trained models</span>
              </center>
            </div>
            <div id="main">

              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 start-slide mb-4" style="display:none">
                    <center>
                      <span class="attr-show text-white">LABELED CLASS: </span><br>
                      <span class="attr-show text-white" style="font-size:50px">{{end}}</span>
                    </center>
                  </div>
                </div>
                <div class="row d-flex justify-content-around">
                  {% for i,j,a in classifier %}
                  <div class="col-4 mb-4 start-slide" id="ans{{forloop.counter}}" style="display:none">
                    <center>
                      <div class="module pt-2 pb-2 border-color h-fill instruct classify-card" style="--notchSize: 30px;--bcolor:#3f4569;width:80%;">
                        <div class="class-card" style="width:100%">
                          <center>
                            <span class="text-white text-uppercase" style="letter-spacing: 2px;">{{i}}</span><br>
                            <span class="text-white text-uppercase" style="letter-spacing: 2px;">{{a}}%</span><br>
                          </center>
                        </div>

                        <div class="mt-3 mb-3 text-white result_inside" style="display:none" id="next_ans{{forloop.counter}}">
                          <center><span class="attr-show text-white">{{j}}</span></center>
                        </div>
                      </div>
                    </center>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="hr-line mb-5" style="display:none">
                <center>
                  <hr style="background:white;width:30%">
                  <span class="text-white">I N P U T &nbsp;&nbsp; A T T R I B U T E &nbsp;&nbsp; V A L U E S</span>
                  <hr style="background:white;width:30%">
                </center>

              </div>

              <form action="/classifier/result/?file={{file}}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                <div class="container-fluid mt-4">
                  <div class="row">
                    {% for i,j in attr %}
                    {% if j.2 != 'STR_ATTR' %}
                    <div class="col-4 start-slide mb-3" id="sl{{forloop.counter}}" style="display:none">
                      <center>
                        <span class="attr-show text-white"> {{i}}</span><br>
                        <div class="mt-2">
                          <div class="mx-auto" id="next_sl{{forloop.counter}}" style="display:none">
                            <div class="pt-1 pb-1 module border-color" style="--notchSize:25px;--bcolor:#014143;width:80%;">
                              <input type="text" class="predict_ip px-2 p_input" name="">
                            </div>
                          </div>
                          <div class="mt-0 errors" style="display:none;" id="err_{{forloop.counter}}">
                            <span style="color:red;font-size:14px;"> ERROR </span>
                          </div>
                          <div class="mt-1">
                            <span style="color:#008e8c"> [ {{j.1}} - {{j.2}} ] </span>
                          </div>
                        </div>
                      </center>
                    </div>
                    {% else %}
                    <div class="col-4 start-slide mb-3" id="sl{{forloop.counter}}" style="display:none">
                      <center>
                        <span class="attr-show text-white"> {{i}}</span><br>
                        <div class="mt-2">
                          <div class="mx-auto" id="next_sl{{forloop.counter}}" style="display:none">
                            <div class="pt-1 pb-1 module border-color" style="--notchSize:25px;--bcolor:#014143;width:80%;">
                              <select name="" class="predict_ip px-2 py-2 text-uppercase p_input" style="width:80%">
                                <option value="" selected disabled>Select Value</option>
                                {% for opt in j.1 %}
                                <option class="text-dark text-uppercase" value="{{opt}}">{{opt}}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="mt-0 errors" style="display:none;" id="err_{{forloop.counter}}">
                            <span style="color:red;font-size:14px;"> ERROR </span>
                          </div>

                        </div>
                      </center>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>


                <div style="width:95%">
                  <div class="d-flex justify-content-end align-items-center">
                    <div class="mt-3 mb-3 pt-2 pb-2 module border-color light-card hover-btn" id="predict-btn" style="--notchSize:15px;--bcolor:#014143;--btn:25%">
                      <center>
                        <span id="pred"> P R E D I C T </span>
                      </center>
                    </div>
                    <div style="display:none">
                      <input type="text" name="data" id="predict_input" class="input" />
                      <button type="submit" name="button" id="submit-btn"></button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
